<nav  class="table-navbar-top ">
    <div _ngcontent-syx-c106="" class="container-fluid">
      <a _ngcontent-syx-c106="" routerlinkactive="active" class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" ng-reflect-router-link-active="active">
      </a>
      <form _ngcontent-syx-c106="" class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <div _ngcontent-syx-c106="" class="form-group mb-0">
          <div _ngcontent-syx-c106="" class="input-group input-group-alternative">
            <div _ngcontent-syx-c106="" class="input-group-prepend">
             </div>
          </div>
        </div>
      </form>
       
      </div>
  </nav>
  
<router-outlet></router-outlet>