<nav class="table-dark navbar  navbar-top navbar-dark">
    <div _ngcontent-syx-c106="" class="container-fluid">
      <a _ngcontent-syx-c106="" routerlinkactive="active" class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" ng-reflect-router-link-active="active">
      </a>

      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">Dasboard</a>
      <a class="navbar-brand" routerLink="/table" routerLinkActive="active">Table</a>     

      <form _ngcontent-syx-c106="" class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <div _ngcontent-syx-c106="" class="form-group mb-0">
          <div _ngcontent-syx-c106="" class="input-group input-group-alternative">
            <div _ngcontent-syx-c106="" class="input-group-prepend">
              <span _ngcontent-syx-c106="" class="input-group-text">
                <i _ngcontent-syx-c106="" class="fas fa-search"></i></span>
             </div>
            <input _ngcontent-syx-c106="" placeholder="Search" type="text" class="form-control">
          </div>
        </div>
      </form>
      <ul _ngcontent-syx-c106="" class="navbar-nav align-items-center d-none d-md-flex">
        <li _ngcontent-syx-c106="" ngbdropdown="" placement="bottom-right" class="nav-item" ng-reflect-placement="bottom-right">
          <a _ngcontent-syx-c106="" role="button" ngbdropdowntoggle="" class="dropdown-toggle nav-link pr-0">
            </a>
              <div _ngcontent-syx-c106="" ngbdropdownmenu="" class="dropdown-menu-arrow dropdown-menu-right">
             </div>
           </li>
         </ul>
      </div>
  </nav>
  
<router-outlet></router-outlet>