
<div class="container-fluid mt-5">
    
<div class="sidenav pt-5">
  <a class="active" href="dashboard">Dashboard</a>
  <a  href="table">Table</a>

</div>
      <div class="main" >
        <div class="row">
            <div class="col box colorbox" >
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center">Dasboard</h5>

                      <div *ngIf="count!={}" class="d-flex" >
                        <div class="ml-4 mr-4" style="width: fit-content;" *ngFor="let item of count | keyvalue ;let i = index ">

                        <button class="btnn" (click)="getfillter(item.key,'statuscron')"> 
                           
                          <div class="circle" id="circle{{i}}">
                            <strong>{{item.value}}</strong>
                          </div>
                          <div class="text-center">
                            <span>{{item.key}}</span>
                          </div>
                        </button>
                        </div>

                        <button class="btnn" (click)="getfillter(colsum,'statuscron')"> 

                        <div class="ml-4 mr-4" style="width: fit-content;">
                       <div class="circle" id="circlesum">
                          <strong>  {{colsum}} </strong>
                     </div>
                    <div class="text-center">
                      <span>All crojob</span>
                  </div>
                      </div>
                      </button>
                </div>
              </div>
           </div>
        </div>
            <div class="col  box colorbox" >
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center">Address Cronjob</h5>
                      <div *ngIf="count!={}" class="d-flex">
                        <div class="ml-4 mr-4" style="width: fit-content;" *ngFor="let item of count1 | keyvalue ;let i = index ">
                      
                          <button class="btnn" (click)="getfillter(item.key,'collect_ip')"> 
                         
                          <div class="circle1" id="circle1{{i}}">
                            <strong>{{item.value}}</strong>
                          </div>
                          <div class="text-center">
                            <span>{{item.key}}</span>
                          </div>
                    </button>

                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            
            <div class="col-md-8 box colorbox" >
              <div class="card table-responsive" *ngIf="datatable">
              <table  *ngIf='fillterdata.length == 0' datatable class="row-border hover ">
                <thead class = "dashborads">
                  <tr >
                    <th scope="col">ID</th>
                    <th scope="col">Cronname</th>
                    <th scope="col">Sever</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Crontime</th>
                    <th scope="col">Status</th>
                    <th scope="col">control</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row1 of datatable">
                    <td>{{row1.id}}</td>
                    <td>{{row1.cronname}}</td>
                    <td>{{row1.collect_ip}}</td>
                    <td>{{row1.subject}}</td>
                    <td>{{row1.cron_time}}</td>
                    <td class="text-rigth"><span>{{row1.statuscron}}</span><br><small>({{row1.status_description}})</small></td>

                    <td>
                      <button *ngIf="row1.enable == 'True'" (click)="openpopup(row1,false)" class="btn btn-danger">Stop</button>
                      <button *ngIf="row1.enable == 'False'" (click)="openpopup1(row1,true)" class="btn btn-success">Start</button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table *ngIf='fillterdata.length > 0' datatable class="row-border hover ">
                <thead class = "table-dark">
                  <tr >
                    <th scope="col">ID</th>
                    <th scope="col">Cronname</th>
                    <th scope="col">Sever</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Crontime</th>
                    <th scope="col">Status</th>
                    <th scope="col">control</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row1 of fillterdata">
                    <td>{{row1.id}}</td>
                    <td>{{row1.cronname}}</td>
                    <td>{{row1.collect_ip}}</td>
                    <td>{{row1.subject}}</td>
                    <td>{{row1.cron_time}}</td>
                    <td class="text-rigth"><span>{{row1.statuscron}}</span><br><small>({{row1.status_description}})</small></td>
                    <td>
                      <button *ngIf="row1.enable == 'True'" (click)="openpopup(row1,false)" class="btn btn-danger">Stop</button>
                      <button *ngIf="row1.enable == 'False'" (click)="openpopup1(row1,true)" class="btn btn-success">Start</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
            



            <div class="col-md-4 box colorbox" >
              <div class="card">
                <div class= "card-body w-100 ">
      
                 <div id="barChart"></div>
                </div>            
              </div>
            </div>  





          </div>
      </div>


</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Stop and Start</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="textCron">
        
      </div>
      <div class="modal-footer">
        <button type="button"id ="openpopup" (click)="comfirmstop()" class="btn btn-primary">ยืนยัน</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ออก</button>
      </div>
    </div>
  </div>
</div>

